.form-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  margin-top: 3rem;

  input {
    height: fit-content;
    padding: 0.5rem;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  &.poke-list {
    li {
      padding-left: 1rem;
      text-transform: capitalize;

      &:nth-child(even) {
        background-color: #ececec;
      }
    }
  }

  &.pagination {
    display: flex;
    justify-content: center;

    li button {
      border: none;
      color: royalblue;
      border-radius: 4px;
      padding: 10px 16px;
      border: 1px solid royalblue;
      font-weight: bold;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        padding: 10px 20px;
      }

      &.current-page {
        background-color: royalblue;
        color: #fff;
      }
    }
  }
}

button {
  padding: 0.5rem;
}
